.custom-bg-color-1 {
    background-color: var(--color-primary) !important;
}
.custom-bg-color-2 {
    background-color: var(--color-secondary) !important;
}
.custom-bg-color-3 {
    background-color: var(--color-tertiary) !important;
}
.custom-bg-color-4 {
    background-color: var(--color-quaternary) !important;
}
html .btn-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) var(--color-primary) var(--color-secondary) !important;
    color: #FFF;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}
html .btn-primary:hover, html .btn-primary.hover {
    background-color: var(--color-secondary) !important;
    border-color: var(--color-primary) !important;
    color: #FFF;
}
.custom-btn-style-1, .custom-btn-style-1:active {
    background: linear-gradient(to right, var(--color-primary) 0%, var(--color-secondary) 100%) !important;
}

.custom-btn-style-1._borders {
    background: transparent !important;
    border: 1px solid #ff8880 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: var(--color-tertiary); 
  border-radius: 8px;
  transition: 0.6s;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.text-underline {
    text-decoration: underline;
}

.text-transparent {
    color: transparent !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.border-radius-0 {
    border-radius: 0 !important;
}

.font-size-1-2 {
    font-size: 1.2rem;
}

.cursor-pointer {
    cursor: pointer;
}

#divBtnWhatsApp {
    position: fixed;
    background: transparent;
    z-index: 100000;
    bottom: 1%;
    height: 10%;
    width: 10%;
    right: 1%;
}
#divBtnWhatsApp.open {
    background: #262626bf;
    bottom: 0%;
    height: 100%;
    width: 100%;
    right: 0;
}
#divBtnWhatsApp.open  img{
    width: 5%;
}
#divBtnWhatsApp .chat-whatsapp {
    display: none;
}
#divBtnWhatsApp.open .chat-whatsapp {
    display: block;
}
#divBtnWhatsApp .row-btn-whatsapp {
    position: absolute;
    bottom: 0;
    right: 2%;
}
#divBtnWhatsApp img{
    width: 41%;
    cursor: pointer;
}
.scroll-to-top {
    display: none !important;
}
.bg-whatsapp {
    background-color: #0b6156!important;
}
#fecharWhasApp {
    cursor: pointer;
}
#formWhatsApp input {
    background-color: #E7FFE7;
    border: none;
}
#formWhatsApp .outgoing {
    width: 0;
    height: 0;
    position: absolute;
    right: 5px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #e7ffe7;
}
#formWhatsApp .outgoing-left {
    width: 0;
    top: -1px;
    height: 0;
    position: absolute;
    left: -14px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffffff;
}
#formWhatsApp .form-group.has-danger {
    margin-bottom: 0.1rem;
}
#formWhatsApp .custom-control-input:checked ~ .custom-control-label::before, .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #0b6156 !important;
    border-color: #0b6156 !important;
}
#formWhatsApp #iniciarConversaFormWhatsApp {
    background-color: #0B6156 !important;
    color: #fff !important;
    border-color: #829b97 !important;
}
#formWhatsApp #iniciarConversaFormWhatsApp span {
    background-color: #fff !important;
    box-shadow: none !important;
}
#formWhatsApp #iniciarConversaFormWhatsApp:hover span {
    background-color: #fff !important;
    box-shadow: none !important;
}
#formWhatsApp #iniciarConversaFormWhatsApp:hover {
    opacity: 0.9 !important;
}

#formWhatsApp #iniciarConversaFormWhatsApp span i {
    color: #0B6156 !important;
}

#btnWhatsApp {
    transition: 0.3s;
    margin-right: 5%;
}

#divBtnWhatsApp.open #btnWhatsApp {
    margin-right: 0% !important;
    transition: none;
}

#footer .footer-copyright:before {
    display: none !important;
}

.rotate {
    transform: rotate(-90deg);
    transition: .6s;
}
.rotate-reset {
    transform: rotate(90deg);
    transition: .6s;
}

#planosFlutuante {
    position: fixed;
    bottom: 0;
}

.mobile {
    display: none;
}
.desktop {
    display: block;
}
.text-name-whatsapp {
    font-size: 1.2rem;
}
@media (max-width: 768px) { 
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }

    #divBtnWhatsApp {
        width: 37%;
        right: 3%;
        bottom: 4%;
    }
    .text-name-whatsapp {
        font-size: 1rem;
    }
}

.visibility-hidden {
    visibility: hidden !important ;
}
